<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <resource-ref>
        <description>Resource reference to javax.sql.Connection</description>
        <res-ref-name>DBCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <filter>
        <filter-name>DispatcherFilter</filter-name>
        <filter-class>minhlb.filters.DispatcherFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispatcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>minhlb.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>minhlb.controllers.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>minhlb.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllCourseController</servlet-name>
        <servlet-class>minhlb.controllers.GetAllCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchQuestionController</servlet-name>
        <servlet-class>minhlb.controllers.SearchQuestionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateController</servlet-name>
        <servlet-class>minhlb.controllers.CreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>minhlb.controllers.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetQuestionByIdController</servlet-name>
        <servlet-class>minhlb.controllers.GetQuestionByIdController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>minhlb.controllers.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetQuizController</servlet-name>
        <servlet-class>minhlb.controllers.GetQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCorrectController</servlet-name>
        <servlet-class>minhlb.controllers.CheckCorrectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetHistoryController</servlet-name>
        <servlet-class>minhlb.controllers.GetHistoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/SignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllCourseController</servlet-name>
        <url-pattern>/GetAllCourseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchQuestionController</servlet-name>
        <url-pattern>/SearchQuestionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateController</servlet-name>
        <url-pattern>/CreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetQuestionByIdController</servlet-name>
        <url-pattern>/GetQuestionByIdController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetQuizController</servlet-name>
        <url-pattern>/GetQuizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCorrectController</servlet-name>
        <url-pattern>/CheckCorrectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetHistoryController</servlet-name>
        <url-pattern>/GetHistoryController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
